.bx--grid
{
text-align: center;
}

.header
{
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;

}

.card
{
padding: 5px;
border: solid 1px #808080;
background-color: white;
display: inline-block;
border-radius: 5px;
text-align: center;
color:black;
margin: 3px;
}

.btn
{
background:white;
padding: 10px 20px;
border-radius:30px;
margin: 10px;
display:inline-block;
}

.card .value{
font-size:10pt;
}


.card .diamonds
{
  background-image: url("images/diamond.png");
  background-size: 40px 41px;
  width: 40px;
  height: 41px;
}


.card .hearts
{
  background-image: url("images/heart.png");
  background-size: 40px 41px;

  width: 40px;
  height: 41px;
}

.card .clubs
{
  background-image: url("images/club.png");
  background-size: 40px 41px;

  width: 40px;
  height: 41px;
}

.card .spades
{
  background-image: url("images/spade.png");
  background-size: 40px 41px;

  width: 40px;
  height: 41px;
}
